h1 {
    color:darkgreen;
}

p {
    color:#333333;
}

.container {
    width: 500px;
    background-color:#eeeeee;
    padding: 20px;
    border: 3px solid #666666;
    border-radius: 10px;
    margin: 30px auto;
    
}
body{
    background-color:#dddddd;
}